%h2 Registrieren
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email, "E-Mail"
    %br
    = f.email_field :email, :autofocus => true
  %div
    = f.label :password, "Passwort"
    %br
    = f.password_field :password
  %div
    = f.label :password_confirmation, "Passwort bestätigen"
    %br
    = f.password_field :password_confirmation
  %div
    = label_tag :auth_hash, "Gruppen ID"
    %br
    = text_field_tag :auth_hash
  %div= f.submit "Registrieren"
= render "devise/shared/links"
