%h2 Passwort vergessen?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email, "E-Mail"
    %br
    = f.email_field :email, :autofocus => true
  %div= f.submit "Bitte sende mir eine E-Mail zum Passwort reaktivieren"
= render "devise/shared/links"
