- title "Event"

%p#notice= notice
%p
  %b Titel:
  = @event.title
%p
  %b Beginnt am:
  = @event.starts_at
%p
  %b Endet am:
  = @event.ends_at
%p
  %b Ganztätig:
  = @event.all_day
%p
  %b Beschreibung:
  = @event.description
  
= link_to 'Bearbeiten', edit_event_path(@event)
|
= link_to 'Back', events_path
