- title "Konto"

= link_to "ändern", edit_account_path

%br
%b
  Email:
= @user.email

%br
%b
  Vorname:
= @user.first_name

%br
%b
  Nachname:
= @user.last_name

%br
%br
%b
  Avatar:
%br
- if @user.avatar_url(:normal).present? 
  = image_tag @user.avatar_url(:normal)
- else
  = image_tag("default_avatar_m.png")
