- title t('account.title.show')

= link_to t('account.information.edit'), edit_account_path

%br
%b
  = t('account.information.email')
= @user.email

%br
%b
  = t('account.information.first_name')
= @user.first_name

%br
%b
  = t('account.information.last_name')
= @user.last_name

%br
%br
%b
  = t('account.information.avatar')
%br
- if @user.avatar_url(:normal).present? 
  = image_tag @user.avatar_url(:normal)
- else
  = image_tag("default_avatar_m.png")
