!!!
%html
  %head
    %title
      mySport #{ yield(:title).present? ? "- #{yield(:title)}" : "" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :id => params[:controller].parameterize + "-controller" }
    
    = render :template => "layouts/top_navigation"
    - if user_signed_in?
      = render :template => "layouts/left_navigation"
      .main-content-intern
        = render :template => "layouts/notifications"
        .content-box
          = yield
    - else
      .main-content-extern
        = render :template => "layouts/notifications"
        = yield
