.top-nav
  .centering
    = link_to (signed_in? ? dashboard_path : root_path), :class => 'logo' do
      %p
        = t('layouts.top_navigation.logo')
    - if user_signed_in?
      = link_to account_path(current_user), :class => "submenu #{is_active_link?("account")}" do
        %p
          = t('layouts.top_navigation.account')
      = link_to new_account_subscription_path, :class => "submenu #{is_active_link?("account_subscription")}" do
        %p
          = t('layouts.top_navigation.abos')
      = link_to destroy_user_session_path, :method => :delete, :class => 'submenu' do
        %p
          = t('layouts.top_navigation.logout')
    - else
      = link_to new_user_session_path, :class => 'submenu' do
        %p
          = t('layouts.top_navigation.login')
      = link_to pricing_path, :class => 'submenu' do
        %p
          = t('layouts.top_navigation.pricing')
          
