- title t('members.title.index')

%h2
  = t('members.header')
- @users.each do |user|
  .avatar
    - if user.avatar_url(:normal).present?
      = image_tag user.avatar_url(:normal)
    - else
      = image_tag("default_avatar_m.png")
  .data
    %b
      = t('members.email')
    = user.email
    %br
    %b
      = t('members.first_name')
    = user.first_name
    %br
    %b
      = t('members.last_name')
    = user.last_name
    
  - unless user == @users.last
    %hr
